{% extends "aplacelikethis/base.html" %}

{% block title %}Portfolio{% endblock %}

{% block content %}
<h1>My Portfolio</h1>
<h2><a href="https://eskatonic.github.io/flashcards/" target="_blank">Spanish Flashcards</a></h2>
<h3>A simple Javascript-based game to improve your Spanish vocabulary skills.</h3>
<br>
<h2><a href="https://hgtti.herokuapp.com/" target="_blank">Hitchhiker's Guide to the Imperium</a></h2>
<h3>A React-based Map and Encyclopedia for the Traveller RPG.</h3>
<br>
<h2><a href="https://mybrarysei322.herokuapp.com/" target="_blank">Mybrary</a></h2>
<h3>A library tracking/inventory system developed with Express, React, and MongoDB.</h3>
{% endblock %}
